/****** General ***********/

html { /** MOI **/
    max-width: 1440px;
    margin: auto;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

/****** En-tête ******/
header { /* MOI */
    display: flex;
    align-items: start;
    max-width: 1440px;
    
}

.logo { /* MOI */
    width: 90px;
    height: 30px;
    margin-top: 25px;
}

.ha-link { /* MOI */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 344px;
    margin-left: auto; 
}

.h-header { /* MOI */ 
    
/** modification de la bordure, je suis passé d'un text-underline à un border-top avec un padding-top **/

    border-top: 2px solid #0065FC;
    color: blue;
    padding-top: 10px;
    
}

.a-header {
    border-top: 2px solid white;
    padding-top: 10px;
}


/****** Barre de Recherche ******/

.p1 { /* MOI */
    font-size: 22px;
    padding-top: 25px;
    font-weight: bold;
}
 
.searchbar { /* MOI */
    display: flex;
    margin-top: 3%;
}

.searchbar .fa-location-dot { /* MOI */
    display: flex;
    text-align: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: black; 
    
    
}

.fa-location-dot { /* MOI */
    padding-left: 12px;
    padding-top: 15px;
    
    width: 20px;
    height: 30px;
}


.search-bar { /* MOI */
    border: 1px solid;
    border-collapse: collapse;
    border-color: #F2F2F2;
    border-right-color: white;
    font-weight: bold;
    text-indent: 15px;
}


.p-search { /* MOI */
    font-weight: bolder;
    color: white;
    background-color: #0065FC;
    border-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}



a { 
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** FILTRES ******/

/** modification sur la partie filtres + ajout de la couleur lorsque l'on survol les filtres **/

.les-filtres{ /* MOI */
    display: flex;
    align-items: start;

}

.filtres-title { /* MOI */
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    
}

.type-filtres { /* MOI */
    display: flex;
    margin-top: 30px;
    
    
}

.eco { /* MOI */

    font-weight: bold;
    font-size: 17px;
    border: 2px solid;
    border-radius: 25px;
    padding: 13px; 
    margin-left: 5px;
    border-color: #d9d9d9
    
}
.eco:hover {
    background-color: #DEEBFF;
}

.familial { /* MOI */
    font-weight: bold;
    word-spacing: 0.5rem;
    font-size: 17px;
    border: 2px solid;
    border-radius: 25px;
    padding: 13px;
    margin-left: 15px;
    border-color: #d9d9d9
}

.familial:hover {
    background-color: #DEEBFF;
}

.romantique { /* MOI */
    font-weight: bold;
    font-size: 17px;
    border: 2px solid;
    border-radius: 25px;
    padding: 13px;
    margin-left: 15px;
    border-color: #d9d9d9

}

.romantique:hover {
    background-color: #DEEBFF;
}

.nos-pepites { /* MOI */
    font-weight: bold;
    font-size: 17px;
    border: 2px solid;
    border-radius: 25px;
    padding: 13px;
    margin-left: 15px;
    border-color: #d9d9d9

}

.nos-pepites:hover {
    background-color: #DEEBFF;
}

.fa-info { /* MOI */
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    padding: 3px;
    text-align: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.herbergements-title { /* MOI */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements .hebergements-marseille { /* MOI */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3%;
    gap: 2%;
}

.card2 { /* MOI */
    background-color: white;
    border-radius: 20px;
    width  : 100%;
    height : 200px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
}

.card2 img {  /* MOI */
    display: block;
    width: 100%;
    height: 100px;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card2-txt { /* MOI */
    display: block;
    text-align: left;
    text-indent: 3%;
} 

.card2-title { /* MOI */
    font-size: 16px;
}

.card2-subtitle { /* MOI */
    font-size: 15px;
}

.Hotel { /* MOI */
    width: 30%;
    margin: 10px 0;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** Activtiés à Marseille ****/

.activites {
    max-width: 1340px;
}

.activites-title { /* MOI */
    margin-top: 60px;
}

.activites-marseille { /* MOI */
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.marseille-activites {
    max-width: 1280px;
    width: 90%;
    padding: 10px 20px 0 20px;
}

.card3 { /* MOI */
    max-width  : 297.5px;
    height : 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
    
}

.card3 img { /* MOI */
    display: block;
    width: 100%;
    height: 380px;  
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card3-title { /* MOI */
    display: block;
    text-align: left;
    text-indent: 5%;   
}



/**** Pied de page ****/
footer { /* MOI */
    display: flex;
    background-color: var(--main-bg-color);
    max-width: 1340px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: 0;
    
}

.footer-title {
    font-weight: bold;
}

.ma-div{ /* MOI */
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-top: 20px;
    margin-left: 20px;
    gap: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

html {
    display: flex;
    max-width: 1024px;
    margin: auto;
}

body {
    max-width: 1024px;
    margin-top: 0;
    margin-bottom: 0;

}
    /** En-tête **/

.logo {
    display: flex;
    justify-content: start;
    width: 62px;
    height: 19px;
    margin-top: 15px;
}

.ha-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 344px;
    margin-left: auto; 
}



    /** Titre et Sous-titre **/

.p1 {
    padding-top: 50px;
    font-size: 22px;
}

    /** Barre de recherche **/ 
.searchbar {
    display: flex;
    margin-top: 35px;
}

.searchbar .fa-location-dot {
    width: 30px;
}

.fa-location-dot {
    padding-left: 20px;
    
}

.search-bar {
    text-indent: 10px;
    
}

    /** Filtres **/ 

.filtres {
    width: 668px;
}

.type-filtres {  /** Ajout du Display Block **/ 
    display: block;
}

.filtres-title {
    width: 54px;
    height: 21px;
}

.les-filtres {
   width: 668px; 
   margin-top: 10px;
}

    /** Hébergements **/

.hebergements-and-populaires {
    flex-direction: column;
}

.hebergements {
    width: 924px;  
}

.afficher-plus-title {
    margin-top: 25px;
}

    /** Populaires **/ 

.populaires {
    width: 924px;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards a {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 17px;
}

.populaires-cards .card-subtitle {
    font-size: 15px;
}

    /** Activité à Marseille **/ 

.activites {
    max-width: 924px;
}

.activites-title {
    margin: 60px 0 30px 0;
}

.activites-marseille { /** MOI **/
    width: 864px;
    padding: 0 20px;
}

.marseille-activites {
    padding: 10px 10px;
}

.card3 { /** MOI **/
    height: 270px;
    gap: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1))
    
}

.card3 img { /** MOI **/
    width: 100%;
    height: 200px;
}

.card3-title { /** MOI **/
    width: 155.5px;
    font-size: 16px;
    margin-left: 8px;
}

footer { /** MOI **/
    display: flex;
    width: 924px;
    gap: 30px;
    
}

.ma-div { /* MOI */
    display: flex;
    flex-direction: column;
    width: 288px;
    margin-left: 20px;
}



}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

html {
    max-width: 767.98px;
    min-width: fit-content;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
}

.main-container {
    padding: 0;
}
    /** Image Booki **/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 115px;
}

.logo {
    width: 30%;
    height: 79px;
    padding: 30px;
    gap: 10px;
}

.ha-link {
    display: flex;
    width: 100%;
    height: 36px;
    margin: auto;
    
}

.h-header {
    width: 50%;
    height: 19px;
    border-top-color: white;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 10px;
    text-indent: 20%;



}

.a-header {
    width: 50%;
    height: 19px;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 10px;
    text-indent: 30%;
}

/** Titre **/ 

.main-title {
    max-width: 767.98px;
    padding: 20px 20px 0 20px;
}

.searchbar {
    max-width: 767.98px;
    padding: 0 20px 0 20px;
}

.fa-location-dot {
    height: 38px;
}

.search-bar {
    width: 100%;
    height: 49px;
}

button {
    width: 49px;
    height: 52px;
    
}

.fa-magnifying-glass {
    font-size: 16px;
    color: white;
    padding-right: 5px;
}

.p-search {
    font-size: 0;
}

/** Filtres **/ 
.filtres {
    max-width: 767.98px;
    width: 100%;
    text-align: center;
}

.type-filtres {
    width: 100%;
    
}

.filtres-title {
    padding: 0 20px 0 20px;
}

.les-filtres {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0
}

.eco {
    width: 35%;
    height: 20px;
    margin: 0;
    font-size: 16px;
}

.familial {
    width: 35%;
    height: 20px;
    margin: 0;
    font-size: 16px;
}

.romantique {
    width: 35%;
    height: 20px;
    margin: 10px 0 0 0;
    font-size: 16px;
}

.nos-pepites {
    width: 35%;
    height: 20px;
    margin: 10px 0 0 0;
    font-size: 16px;
}


.fa-info {
    width: 24px;
    border: 1px solid #d9d9d9;
}

.logements-dispo {
    max-width: 767.98px;
    
}
.p3 {

    display: flex;
    padding: 0 20px 0 20px;
    gap: 10px;
}
/** hébergements et populaire **/ 

.hebergements-and-populaires {
    width: 100%;
    flex-direction: column-reverse;
    gap: 10px;
}

.hebergements-and-populaires .hebergements {
    background-color: white;
}

.hebergements-and-populaires section {
    padding: 30px 20px 30px 20px;
    border-radius: 0;
}

/** Les plus populaires **/

.populaires {
    width: 100%;
    padding: 30px 20px 30px 20px;
    gap: 15px;

}

.populaires-cards a {
    width: 100%;
}
.populaires-title {
    width: 100%;
    height: 26px;
}

.populaires-cards {
    flex-direction: column;
}

.card {
    width: 100%;
    height: 146px;
}

.card img {
    width: 111.67px;
    height: 146px;
}

.card2-content {
    width: 223.33px;
    height: 136px;
}

/** Hébergements **/

.hebergements {
    width: 100%;
    padding: 20px 30px 20px 30px;
}

.hebergements-marseille {
    flex-direction: column;
}

.card2 {
    width: 100%;
}


.Hotel {
    width: 100%;
}
/** Activtiés **/ 

.activites {
    max-width: 767.98px;
    width: 100%;
}

.activites-title {
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.activites-marseille {
    max-width: 767.98px;
    width: 89%;
    flex-direction: column;
    padding: 0 20px;
    gap: 15px;
}

.marseille-activites {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;

}

.card3 {
    max-width: 767.98px;
    width: 100%;
    height: 200px;
}

.card3 img { /** MOI **/
    width: 100%;
    height: 141px;
}

.card3-title { /** MOI **/
    width: 315px;
    height: 59px;
    font-size: 16px;
    margin-left: 8px;
}

footer {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
}


}